@use '../abstracts' as *;

[data-components='episode-layout'] {
    // @include display-center(row);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 60vh;
    padding: 1rem;
    gap: 1rem;

    .episode-right-container {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        background-color: #151f2e;
        padding: 0.7rem;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-color: $dark_titleTxt $dark_Primary ;

        .No-episode-data-label {
            font-size: 2rem;
            font-weight: 700;
            line-height: normal;
            @include display-center(row);
            height: 100%;
        }
    }

    .episode-left-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        .episode-background-img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .watch-now-label {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.62);
            padding: 0.7rem;
            font-weight: 900;
            font-size: 2rem;
            color: white;
            // width: 100%;
        }

        .epsiode-anime-title-label {
            position: absolute;
            bottom: 10px;
            left: 10px;
            min-width: 30%;
            max-width: 60%;
            @include ellipseText(1);
            background-color: rgba(0, 0, 0, 0.66);
            padding: 0.7rem;
            font-weight: 900;
            font-size: 2rem;
            color: white;
        }
    }
}