@use '../abstracts' as *;

[data-component='streaming-layout'] {
    width: 70%;
    height: 50%;
    min-height: 300px;
    overflow: hidden;
    padding: -1rem;

    .streaming-platform-container {
        display: flex;
        overflow-x: auto;
        scrollbar-color: $dark_titleTxt $dark_Primary;
    }
}