@use '../abstracts' as *;

[data-component='homepage'] {
    background-color: #1a1a1a;
    // height: 100dvh;

    .homepage-slider-container {
        padding: 1rem;
    }

    .drop-down-contianer {
        @include display-center(row);
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .homepage-card-container {
        place-content: center;
    }
}