@use './variables.scss' as abs;

@mixin display-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin titleText() {
    font-size: 2rem;
    color: abs.$dark_titleTxt;
    font-weight: 900;
    line-height: 2rem;
}

@mixin ellipseText ($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin singleLineTxtellipse() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// mixins for media query

@mixin mobile_devices {
    @media (max-width:600px) {
        @content;
    }
}

@mixin tablet_devices {
    @media (max-width:900px) {
        @content;
    }
}